<li class="list-group-item <%= todo_item.completed? ? 'item_completed' : 'item' %>">
    <div class="todo_item">
        <p class="content"><%= todo_item.content %></p>

        <div class="btn-group">
            <div class="complete">
                <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
                    <button class="btn btn-sm btn-success">Mark as completed</button>
                <% end %>
            </div>
            <div class="remove">
                <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id),
                    method: :delete, data: { confirm: "Are you sure?" } do %>
                    <button class="btn btn-sm btn-danger">Delete</button>
                <% end %>
            </div>
        </div>
    </div>
</div>