<div class="mb-5">
    <%= link_to 'Back', todo_lists_path, class: "btn btn-md btn-outline-warning" %>
</div>

<legend>
    <h1>New Todo List</h1>
</legend>

<div class="mt-5">
    <%= render 'form', todo_list: @todo_list %>
</div>