// Place all the styles related to the todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin-top: 100px !important;
}

.item {
    font-size: 1rem;
    &_completed p {
        text-decoration: line-through;
        color: #dfdfdf;
    }
}

.new-item-form {
    margin: 10px 0;
    padding: 0 15px;
    width: 100%;
    .form-add-item {
        display: grid;
        grid-template-columns: 80% 20%;
    }
}