// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
    padding: 5px 0 !important;
}

.todo_items_wrapper {
    width: 100%;
}

.todos {
    display: grid;
    grid-template-columns: 80% 20%;
    align-self: center;
    p {
        font-size: 2rem;
    }
    ul {
        text-align: right;
    }
}